@keyframes shooting {
    from {
        left: 5px;
    } to {
        left: 100%;
        top: 8px;
        color: red;
    }
}
div.football-field {
    position: relative;
    border: 1px solid black;
    height: 30px;
    margin-top: 5px;
    padding: 5px;
}
.errorMsg {
    color: red;
}
textarea {
    width: 300px;
    height: 100px;
    margin: 5px 0;
}